.DS_Store
node_modules
dist/
.env
db.json
*.pem
/server/uploads/designImage-*
/server/uploads/cutLineFile-*
*.bak
dist/
server/error.log

# Playwright
test-results/
playwright-report/
verification/
**/*-snapshots/
server/logs/
