version: '3.8'
services:
  app:
    build:
      context: ./server
    restart: unless-stopped
    env_file: .env
    environment:
      - DB_PROVIDER=mongo
      - MONGO_URL=mongodb://mongo:27017/splotch
      - ENABLE_BOT_POLLING=false
    deploy:
      replicas: 2
    volumes:
      - /home/loki/app-data/uploads:/app/server/uploads
    depends_on:
      - redis
      - mongo
    networks:
      - app-net

  bot:
    build:
      context: ./server
    restart: unless-stopped
    env_file: .env
    environment:
      - DB_PROVIDER=mongo
      - MONGO_URL=mongodb://mongo:27017/splotch
      - ENABLE_BOT_POLLING=true
      - ENABLE_WEB_SERVER=false
    volumes:
      - /home/loki/app-data/uploads:/app/server/uploads
    depends_on:
      - redis
      - mongo
    networks:
      - app-net

  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - /home/loki/app-data/mongo:/data/db
    networks:
      - app-net

  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - /home/loki/app-data/redis:/data
    networks:
      - app-net

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./dist:/usr/share/nginx/html
      - /home/loki/ssl:/etc/ssl:ro
    depends_on:
      - app
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
