# Server Configuration
# .env
# Square Credentials
SQUARE_ACCESS_TOKEN=YOUR_SANDBOX_ACCESS_TOKEN
SQUARE_ENVIRONMENT=sandbox
SQUARE_LOCATION_ID="YOUR_SANDBOX_LOCATION_ID"
PORT=3000
JWT_SECRET=a_secure_secret_key

# Google OAuth Credentials
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
GMAIL_REDIRECT_URI=http://
# The refresh token is obtained after the admin authenticates for the first time.
# It will be stored in db.json, but you can also store it here for backup.
GMAIL_REFRESH_TOKEN=""

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
TELEGRAM_CHANNEL_ID="YOUR_TELEGRAM_CHANNEL_ID"
BASE_URL="http://localhost:5173"

# Admin Configuration
ADMIN_EMAIL="your-admin-email@example.com"

# WebAuthn Configuration
RP_ID="localhost"
EXPECTED_ORIGIN="http://localhost:5173"

# JWT Asymmetric Keys (Copy the entire file content, including headers/footers)
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"




# SendGrid API Key
SENDGRID_API_KEY="YOUR_SENDGRID_API_KEY"
